@font-face {
	font-family: "Gilroy-Medium";
	src: url("asserts/fonts/Gilroy-Medium/Gilroy-Medium.woff2") format("woff2"),
	url("asserts/fonts/Gilroy-Medium/Gilroy-Medium.woff") format("woff");
	font-weight: 500px;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Gilroy-Bold";
	src: url("asserts/fonts/Gilroy-Bold/Gilroy-Bold.woff2") format("woff2"),
	url("asserts/fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff");
	font-weight: 700px;
	font-style: normal;
	font-display: swap;
}

.menu {
  margin: 0 auto;
  padding: 32px 0;
  border-bottom: 1px solid #828282;
  width:  943px;  
}


.link:hover {
	color: #070707;
	}
	
.link {
	font-family: Gilroy-Bold;  
  color: #828282;
	font-size: 18px;
	line-height: 22px;
}

.menu__navigation {
	display: flex;
	justify-content:  space-between;     
	margin: 0 auto;
	padding: 0; 
} 

.up-part__item {
  display: flex;
  padding-bottom: 0;
  justify-content:  space-between;
  align-items: flex-end;
  width: 943px;
  margin: 0 auto;
}

.item__denis-novik {
	font-family: Gilroy-Bold;   
	font-size: 47px;
	line-height: 59px;
	margin-bottom: 40px;
}

.item__long-text  {
	font-family: Gilroy-Medium;		
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 40px;
}

.item__vertical {   
	transform: rotate(-90deg);
	font-family: Gilroy-Bold;		
	font-size: 16px;
	color: #828282;
	line-height: 20px;	
	margin-bottom: 37px;
	padding-top: 34px
}

.item__vertical--button-color-eng:hover {
	color: #070707;
}

.item__vertical--button-color-ru:hover {
	color: #070707;
}

.up-part__header-img {
	text-align: center;
	margin: 0 auto;
	height: auto;
}

.main-text {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	background: #F6F6F6;
	margin-top: 60px;
	padding: 50px 0 50px 0;
}

.main-text__title {
	font-family: Gilroy-Medium;
	font-size: 34px;
	line-height: 42px;
}

.main-text__text-about-me {
	font-family: Gilroy-Medium;   
	size: 18px;
	line-height: 21px;
}

.skills {
	margin-top: 65px;
	text-align: center;	
}

.skills__title {
	font-family: Gilroy-Bold;   
	font-size: 34px;
	line-height: 42px;
	margin-bottom: 60px;
}

.skills__description {
	font-family: Gilroy-Medium;  
	font-size: 18px;
	line-height: 21.83px;
}

.abilities {
	display: flex;
	justify-content: center;
	width: 100%;
}

.item {
	margin-top: 25px;
}

.abilities__ability-item {
	padding: 41px;
}

.item__logo {
	height: auto;
}

.item__text {
	font-family: Gilroy-Bold;
	font-size: 14px;
	line-height: 17px;
}

.item__stars {
	height: auto;
	width: 166px;
}

.item__stars--selected {
	margin-top: 17px;	
}


